@model Multishop.Web.Models.CartViewModels.CartViewModel

@{
    ViewBag.Title = "Cart";
}
@if (TempData["Error"] != null)
{
    <p class="alert alert-danger" id="successMessage">@TempData["Error"]</p>
}

<h2>Cart</h2>
<table class="table">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Unit Price
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderProducts)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.UnitPrice)
        </td>
        <td>
            @Html.ActionLink("Return item", "Return", new { id = item.OrderProductId })
        </td>
    </tr>
    }

</table>
<p> Overall price: @Model.Price credits</p>
@Html.ActionLink("Checkout", "Checkout")
